
.top-heading{
    width: 50%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 60px;
    margin-top: 20px;
}
.top-section{
    display: flex;
}
.github-button{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(blue, rgb(31, 9, 92), rgb(100, 29, 158));
    color: floralwhite;
    border-radius: 10px;
    padding: 15px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.top-heading image{
    width 50%
    
}
.top-heading h1{
    font-size: 50px;
    
}
#heading-color{
    color: blueviolet;
}
.border{
    border-left: 4px solid;
    border-image: linear-gradient(blue,rgb(31, 9, 92), rgb(100, 29, 158));
    border-image-slice: 1;
}