
body{
    margin: 50px 60px 60px 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.top-heading{
    width: 50%;
    font-size: 20px;
    
    margin-top: 20px;
}
.top-section{
    display: flex;
}
.github-button{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(blue, rgb(31, 9, 92), rgb(100, 29, 158));
    color: floralwhite;
    border-radius: 10px;
    padding: 15px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.top-heading image{
    width 50%
    
}
h1{
    font-size: 50px;
    
}
.heading-color{
    color: blue;
}
.border{
    border-left: 4px solid;
    border-image: linear-gradient(blue,rgb(31, 9, 92), rgb(100, 29, 158));
    border-image-slice: 1;
    padding-left: 10px;
}
.heading-align{
    text-align: center;
}
.box-making{
    padding: 30px 20px; 
    border-radius: 30px;
    margin: 10px;
}
#box-color-1{
    background-color: rgba(0, 255, 255, 0.267);
}
#box-color-2{
    background-color: rgba(220, 20, 60, 0.137);
}
#box-color-3{
    background-color: rgba(172, 255, 47, 0.219);
}